<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
</head>
<body>
<ol>
<h1>ALL BLOG ENTRIES , SUPERUSER >>  acc: superuser , pass: 123Akay45</h1>
<h2>{{ greet }}</h2>
{% if request.user.username %}
<a href="/users/logout">Logout</a>
{% endif %}
<ol>
    {% for entry in entries %}
        <li>
    <h3>{{ entry.name }}</h3>
        <p>by : {{ entry.owner.username }}</p>
    <p>{{ entry.description }} </p>
     {% for tag in entry.tags.all %}
        {{ tag.name }}
     {% endfor  %}
        </li>
    {% endfor %}
</ol>
{% if request.user.username %}
<form method="POST">
    {% csrf_token %}
    {{ form }}
    {% if form %}
    <button type="submit">Submit</button>
        {% endif %}
</form>
{% endif %}
<h4>How to Navigate:</h4>
<p>To see individual blog entries by index , go to blog/entries/index</p>
<p>The index should be between 0-4</p>
    <p>To see todos go to /todo</p>
    <a href = /todo>todo</a>


</ol>
</body>
</html>