<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
</head>
<body>
<ol>
<h1>Welcome {{ username }}, ALL BLOG ENTRIES</h1>
<ol>
    {% for entry,desc in entries %}
    <h2>{{ entry }}</h2>
    <p>{{ desc }} </p>
    {% endfor %}
</ol>
<h3>How to Navigate:</h3>
    <p>To see the homepage go to /blog</p>
<a href = /blog>Home</a>
<p>To see individual blog entries by index , go to blog/entries/index</p>
<p>The index should be between 0-4</p>
    <p>To see todos go to /todo</p>
    <a href = /todo>todo</a>


</ol>
</body>
</html>